* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

section#welcomePage {
    width: 100%;
    height: 100vh;
    /* background: grey url('../photos/welcomePage.jpg') no-repeat 0 0;
    background-size: cover;
    object-fit: contain; */
}

#WelcomePageBackground {
    width: 100%;
    height: 100%;
    object-fit: fill;
}